.*
*.o
*.d
*.elf
*.cof
*.hex
*.map
*.mcp
*.mcs
*.mcw
.gitignore
*.map
~*
*.pdf
*.mptags
*.tagsrc
*.zip
*.7z
*~
*.png
*.ogg
/Lab01/CE13Lab1.X/nbproject/private/
/Lab01/Lab1_part1.X/nbproject/private/
/Lab01/Lab1_part1.X/build/default/
/Lab01/CE13_Lab1.X/nbproject/private/
/Lab01/CE13_Lab1.X/build/default/
/Lab01/CE13_Lab1.X/dist/default/
/Lab01/Lab1_Part1.X/nbproject/private/
/Lab01/Lab1_Part1.X/build/default/
/Lab01/Lab1_Part1.X/dist/default/
/Lab01/Lab1_Part2.X/nbproject/private/
/Lab01/Lab1_Part2.X/build/default/
/Lab01/Lab1_Part2.X/dist/default/
/Lab01/Lab1_Part3.X/nbproject/private/
/Lab01/Lab1_Part4.X/nbproject/private/
/Lab01/Lab1_Part4.X/build/default/
/Lab01/CE13_Lab2.X/nbproject/private/
/Lab02/CE13_Lab2.X/nbproject/private/
/Lab02/CE13_Lab2.X/build/default/
/Lab03/CE13_Lab3.X/nbproject/private/
/Lab03/CE13_Lab3.X/build/default/
/Lab03/CE13_Lab3.X/dist/default/
/Lab04/CE13_Lab04.X/nbproject/private/
/Lab05/CE13_Lab5.X/nbproject/private/
/Lab05/CE13_Lab5.X/build/default/
/Lab05/CE13_Lab5.X/dist/default/
/Lab06/CE13_Lab6.X/nbproject/private/
/Lab06/CE13_Lab6.X/dist/default/
/Lab07/CE13_Lab7.X/nbproject/private/
/Lab08/CE13_Lab8.X/nbproject/private/