.*
*.o
*.d
*.elf
*.cof
*.hex
*.map
*.mcp
*.mcs
*.mcw
.gitignore
*.map
~*
*.pdf
*.mptags
*.tagsrc
*.zip
*.7z
*~
*.png
*.ogg
/Lab01/CE13Lab1.X/nbproject/private/
/Lab01/Lab1_part1.X/nbproject/private/
/Lab01/Lab1_part1.X/build/default/
/Lab01/CE13_Lab1.X/nbproject/private/
/Lab01/CE13_Lab1.X/build/default/
/Lab01/CE13_Lab1.X/dist/default/
/Lab01/Lab1_Part1.X/nbproject/private/
/Lab01/Lab1_Part1.X/build/default/
/Lab01/Lab1_Part1.X/dist/default/
/Lab01/Lab1_Part2.X/nbproject/private/
/Lab01/Lab1_Part2.X/build/default/
/Lab01/Lab1_Part2.X/dist/default/
/Lab01/Lab1_Part3.X/nbproject/private/
/Lab01/Lab1_Part4.X/nbproject/private/
/Lab01/Lab1_Part4.X/build/default/
/Lab01/CE13_Lab2.X/nbproject/private/
/Lab02/CE13_Lab2.X/nbproject/private/
/Lab02/CE13_Lab2.X/build/default/